section#contact_elements{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.fill_info{
    width: 50%;
    /* max-width: 60%; */
    min-width: 30em;
    /* border: 1px solid paleturquoise; */
    flex-grow: 1;
    margin: 0% 2%;
}

.contact_info{
    width: 30%;
    /* max-width: 30%; */
    min-width: 10em;
    /* border: 1px solid paleturquoise; */
    flex-grow: 1;
    margin: 0% 2%;
}

label{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

input[type=text]{ 
    width: 100%;
}

textarea {
    width: 100%;
    padding-bottom: 3em;
}

.info>a.button-nav{
    width: 30%;
    padding: 1% 0%;
}

form{
    margin-top: 6%;
}

.contact_info>.project_text,
.contact_info>.project_text>a{
    font-family: "PT Serif Caption";
    color: white;
}

.contact_info{
    margin-left: 5%;
}

@media only screen and (max-width:540px) {
    .fill_info{
        width: 100%;
        min-width: 0em;
    }

    input[type=text]{ 
        width: 100%;
    }

    li.menu>a{
        font-size: 40px;
    }
    
    p.project_text{
        text-align: left;
    }
}