@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto Slab:100,200,300,400,500,600,700,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #303030;
    color: #ffffff;
}

a {
    color: #ffffff;
}

h1 {
    font-family: "Roboto Slab";
    font-size: 35px;
    padding-top: 3%;
    font-size: 40px;
    color: #e12b3f;
}


/* Interactive Elements section */
section.main_section {
    margin: 5% 2% 0% 2%;
}

section.element {
    padding: 2% 0% 4% 2%;
    border-bottom: 1px solid #ffffff;
    margin: 2% 0% 5% 0%;
}

h2.section_heading {
    color: #e12b3f;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    /* padding-left: 2%; */
    margin: 0%;
 }

h3.element_heading {
    color: #f6eccf;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

div.element_content {
    padding: 0% 2%;
    margin: 3% 0% 3% 0%;
}

div.element_code {
    background-color: #f6eccf;
    padding: 2% 2%;
}

h4.code_heading {
    margin-top: 0%;
    color: #e12b3f;
    font-family: "Roboto Slab";
}

code.code_content {
    color: #303030;
    font-family: Consolas, "courier new";
    font-size: 15px;
    font-weight: normal;
}

/* Styling for the intext link */
a.intext_link {
    font-weight: bold;
}

a.intext_link:hover {
    font-style: italic;
}

/* Styling for the navigation button */ 
.button-nav {
    display: inline-block;
    padding: 1% 4%;
    color: #f6eccf;
    background-color: #303030;
    border: 2px solid #e12b3f;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-weight: 800;
    border-radius: 30px;
}

.button-nav:hover {
    background-color: #e12b3f;
    /* color: #303030; */
    font-weight: 800;
}

/* Styling for the submit/reset button */
button {
    background-color: #f6eccf;
    padding: 1em 4em;
    font-size: 12pt;
    font-weight: 800;
    margin-right: 5%;
    border: none;
    border-radius: 30px;
}

button:hover {
    background-color: #e12b3f;
    color: #303030;
    transition-property: all;
    transition-duration: 0.5s;
    font-weight: 800;
    border: none;
}

 /* Styling for the Text Input Field with Label */
form {
    display: flex;
    flex-wrap: wrap;
}

label {
    width: 100%;
    padding-bottom: 0.5em;
}

input[type="text"] {
    background-color: #282828;
    border: 1px solid #ffffff;
    padding: 1%;
    border-radius: 5px;

    color: white;
}

input[type=text]:focus {
    background-color: #393734;
}

 /* Styling for the Image as a Link */
img.record {
    width: 30%;
}

a>img.record:hover {
    border: 2px solid #e12b3f;
}

.imageLink>.product_record:hover {
    border: 2px solid #e12b3f;
}

/* Styling for the heading */
h1 {
    margin: 1% 0%;
}

div.element_content>h2.section_heading {
    margin: auto;
}

div.element_content>h3.element_heading {
    padding-left: 0%;
}

 /* Styling for the Main Navigation */
div.main_nav{
    padding:0% 2%;
    margin: 3% 0% 3% 0%;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid white;
}
nav{
    width: 100%;
    flex-wrap: wrap;
}
nav>ul{
    padding:0%;
    margin:auto;
    width: 100%;
    /* height:3em; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
li.menu{
    padding:1% 2%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    transition-property: background-color; 
    transition-duration: 1s;
}

li.menu:hover a{
    color: #e12b3f;
    
}

li.menu>a{
    width:100%;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 17px;
    text-decoration:none;
    transition-property: color; 
    transition-duration: 1s;
}

/* Styling for the Fonts*/
p.roboto_slab {
    font-family: "Roboto Slab";
    font-size: 25px;
}
 
p.poppins {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
}

p.roboto {
    font-family: 'Roboto', Verdana, sans-serif;
}

/* Styling for the Colour Palettes*/ 
.element_content_color {
    padding: 0% 2%;
    margin: 3% 0% 3% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.color {
    width: 100%;
    margin: 0% 8% 5% 0%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.color_fill1 {
    width: 25%;
    border: 1px solid #ffffff;
    margin: 0% 8% 0% 0%;
}

h3.color_text {
    text-align: center;
}

.color_explain {
    width: 70%;
}

.color_fill2 {
    width: 25%;
    background-color: #f6eccf;
    margin: 0% 8% 0% 0%;
}

.color_fill3 {
    width: 25%;
    background-color: #e12b3f;
    margin: 0% 8% 0% 0%;
}

.color_fill4 {
    width: 25%;
    background-color: #ffffff;
    margin: 0% 8% 0% 0%;
}

.color_fill2>h3.color_text,
.color_fill4>h3.color_text {
     color: #303030;
 }