div.element_code {
    background-color: #f6eccf;
    padding: 2% 2%;

    margin: 2% 0%;
}

h4.code_heading {
    margin-top: 0%;
    color: #e12b3f;
    font-family: "Roboto Slab";
}

code.code_content {
    width: 100%;

    color: #303030;
    font-family: Consolas, "courier new";
    font-size: 17px;
    font-weight: normal;

    margin-bottom: 2%;
}

.element_content,
.element_code{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Styling for the intext link */
a.intext_link {
    font-weight: bold;
}

a.intext_link:hover {
    font-style: italic;
}

/* Styling for the submit/reset button */
button {
    background-color: #f6eccf;
    padding: 1em 4em;
    font-size: 12pt;
    font-weight: 800;
    margin-top: 3%;
    margin-right: 3%;
    border: none;
}

button:hover {
    background-color: #e12b3f;
    color: #303030;
    transition-property: all;
    transition-duration: 0.5s;
    font-weight: 800;
    border: none;
} 

/* Styling for the Image as a Link */
a>img.brief_img:hover {
    border: 2px solid #e12b3f;
}

.imageLink>.brief_img:hover {
    border: 2px solid #e12b3f;
}

/* navagation style layout */
div.project_nav,
div.project_nav>nav{
    background-color: #F6ECCF;
    color: #303030;
    width: 100%;
}

div.project_nav>nav>ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:0%;
    margin:auto;

    border-top: 1px solid #303030;
}

div.project_nav>nav>ul>li.menu>a:hover{
    color: #F6ECCF;
    background-color: #303030;
}
div.project_nav>nav>ul>li.menu>a{
    margin-top: 1%;
    font-family: "PT Mono";
    padding-top: 1%;
    font-size: 35px;
    color: #303030;
    font-weight: normal;
    width: 100%;

    text-align: center;
}

div.project_nav>nav>ul>li.menu{
    margin-top: 1em;
    padding: 0%;
    /* border: 1px solid royalblue; */
}

/* Styling for the Fonts*/
p.PT_Mono {
    font-family: "PT Mono";
    font-size: 23px;
}
 
p.PT_Serif_Caption {
    font-family: "PT Serif Caption";
    font-size: 25px;
}


/* Styling for the Colour Palettes*/ 
.element_content_color {
    padding: 0% 2%;
    margin: 3% 0% 3% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.color {
    width: 100%;
    margin: 0% 8% 5% 0%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.color_fill1 {
    width: 25%;
    border: 1px solid #ffffff;
    margin: 0% 8% 0% 0%;
}

h3.color_text {
    text-align: center;
}

.color_explain {
    width: 70%;
}

.color_fill2 {
    width: 25%;
    background-color: #f6eccf;
    margin: 0% 8% 0% 0%;
}

.color_fill3 {
    width: 25%;
    background-color: #e12b3f;
    margin: 0% 8% 0% 0%;
}

.color_fill4 {
    width: 25%;
    background-color: #ffffff;
    margin: 0% 8% 0% 0%;
}

.color_fill2>h3.color_text,
.color_fill4>h3.color_text {
     color: #303030;
 }

 .color_fill3>h3.color_text{
     color: #f6eccf;
 }